<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="../public/css/style.css">

	<title>Portfolio</title>
</head>
<body>

	<nav class='navbar navbar-default navbar-static-top'>
  <div class="container">
    <div class="navbar-header">
      	<h1 class="myName">Kirill Kovalevski</h1>
      	<h3 class="hero">Hero of Socialist Labor</h3>
    </div>  
    
		<ul class="nav navbar-nav"> 
      <li><a href="/" class="nav-button">Massacres</a></li>
      <li><a href="/lectures" class="nav-button">Gulags</a></li>
      <li><a href="/contact" class="nav-button">Political Manifesto</a></li>
    </ul>
	</div> <!-- nav container -->
  </nav>
	
	<div class="container-fluid">

		<div class="row">

		<div class= "col-xs-10 offset-xs-1 col-sm-5 offset-sm-1 col-lg-4 offset-lg-2 about">
			<h1 class="aboutme">
			About Kirill
			</h1>
			<hr />
			<img class="photo" src="../public/assets/images/kirill.jpg">
			<p class='bio-text'>
			
			My name is Ethan Susman and Ive been tinkering and fiddling with all things mechanical or technological for most of my life. I'm passionate about many things. Music, engine building, coding, pc construction, hiking, photography being few of those things. I endevour to do atleast a few of these things on a daily basis, but the day is only so long. 

			<br>
			<br>

			Ive been employed as a sheet music clerk, a ground's person at a cemetery, professional drummer, automotive technician, and now I work for myself as a freelance mechanic. It is my aim to attain a position as a front end web developer or full stack web developer, depending on my future employer's needs.

			<br>
			<br>  

			This web page was coded entirely from scratch by yours truly utilizing Node JS, Express,
			Bootstrap, and Sass. I also posses the skills to utilize MySQL and Mongo databases, alternatives to Bootstrap such as Materialize, various javascript libraries (mostly jQuery), Handlebars, and have some experience with React. Angular is on my shortlist of technologies to break into. I also completed the Rutgers Full Stack Web Development Bootcamp in November of 2017.
			</P>

		</div> <!--main column -->

		<div class= "col-xs-10 offset-xs-1 col-sm-3 offset-sm-1 col-md-3 offset-md-2 col-lg-2 offset-lg-1 lnkbtns">
			<div class ="upper">
				<h3 class="connect">
				Attrocties Commited 
				</h3>
				<hr />
				<img class="git" src="" alt="github" >
				
				<img class="link" src="" alt="linkedin">
				
				<img class="stack" src="" alt="stackoverflow">
			</div> <!-- upper -->

		</div> <!-- side column -->
	</div> <!-- row -->
	
	</div> <!-- container fluid -->

<footer class="footer fixed-bottom">
    <p class="footerText">
    &copy; 2017 Ethan Susman
    </p> 
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</body>
</html>